@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Parkinsans:wght@300..800&family=Passion+One:wght@400;700;900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
}

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Sour Gummy", serif;
    --font3: "Passion One", serif;

}

html, body{
    background-color: dark gray;
    min-height: 100%;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: "Passion One", serif;
    font-size: 13vw;
}

header > p{
    padding-bottom: 50px;
    font-family: "Passion One", serif;
    font-size: 2vw;
}

a{
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: "Sour Gummy", serif;
    font-size: 3.7vw;
}

section > p{
    padding-bottom: 2em;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.178);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section.normal{
    background-color: rgb(255, 255, 255);
    color: black;
}

section.imagem{
    background-color: rgba(0, 0, 0, 0.534);
    color: white;
    background-size: cover;
}

section#img01{
    background-image: url(background001.jpg);
    background-position: right center;
    background-attachment: fixed;
}

section#img02{
    background-image: url(background002.jpg);
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}

footer{
    background-color: black;
    color: white;
    padding: 7px;
    text-align: center;
    font-family: var(--font2);
    font-size: 1.3em;
}
