@charset "UTF-8";

*{
    height: auto;
    width: auto;
}

body{
    background-image: url(wallpaper004.jpg);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid black;
    height: 98vh;
}