@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Parkinsans:wght@300..800&family=Passion+One:wght@400;700;900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font1: Arial, Verdana, Geneva sans-serif;
    --font2: "Sour Gummy", serif;
    --font3: "Passion One", serif;
    --font4: "Parkinsans", serif;
}

*{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(161, 161, 161);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    font-family: var(--font2);
    font-size: 3em;
    background-color: rgb(124, 69, 67);
    padding: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.39);
}

table{
    width: 430px;
    border-collapse: collapse;
    margin: 10px auto;
}

thead, tfoot{
    background-color: gray;
    color: white;
}

td{
    border: 1px solid black;
    font-family: var(--font4);
}

.linha:hover{
    text-decoration: underline;
    color: rgb(0, 60, 255);
}

td, th{
    border: 1px solid black;
    padding: 10px;
}

.posição{
    text-align: center;
}

strong{
    color: rgba(0, 0, 0, 0.884);
    text-decoration: none;
}

strong:hover{
    text-decoration: underline;
}

td.num{
    text-align: right;
}