@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Parkinsans:wght@300..800&family=Passion+One:wght@400;700;900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font1: Arial, Verdana sans-serif;
    --font2: "Sour Gummy", serif;
    --font3: "Passion One", serif;
    --font4: "Parkinsans", serif;
}
*{
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
}

table{

}

tr{
    
}

